@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto:ital@1&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Varela Round', sans-serif;
    font-weight: 300;
    background-color: #0B0B09;
    color: #DADAD2;
}

/* logo and logo text */

.logo {
    height: 130px;
    width: 130px;
    float: left;
    margin-left: 30px;
    margin-top: 15px;
}

.logo-text {
    font-family: Kanit, sans-serif;
    color: #DADAD2;
    height: 50px;
    width: auto;
    float: left;
    margin-left: 20px;
}

/* navigation links*/

#menu {
    font-size: 105%;
    letter-spacing: 2.5px;
    margin-right: 30px;
}

#menu, .logo-text, 
#logo {
    line-height: 200px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 1.5px solid #494949;
}

.active {
    border-bottom: 1px solid #494949;
}

/* hero image and main heading */

#hero-outer {
    height: 350px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 350px;
    width: 100%;
    background: url("../images/moon.webp") no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

#main-text {
    position: absolute;
    padding: 30px;
    top: 27%;
    left: 15%;
    text-align: center;
    color: #DADAD2;
    text-transform: uppercase;
    background: none;
}

#main-text h2 {
    margin: 0;
    font-size: 3.0rem;
    background: none;
}

#main-text h3 {
    font-size: xx-large;
    border: 6px solid #494949;
    padding: 6px 14px;
    display: inline-block;
    background: none;
}

/* images containers and quotes text */

.images-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #494949;
    width: 600px;
    height: 600px;
    margin: 30px 15px;
    border-radius: 15px;
    text-align: center;
}

.card-image {
    height: 400px;
    width: 100%;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.nature {
    background-image: url("../images/nature.webp");
}

.people {
    background-image: url("../images/people.webp");
}

.events {
    background-image: url("../images/events.webp")
}

.commercial {
    background-image: url("../images/commercial.webp");
}

.card h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    padding: 10px;
}


.card p {
    font-family: 'Kanit', sans-serif;
    padding: 10px;
}

.quote {
    text-transform: uppercase;
    padding: 10px;
}

.portfolio {
    padding: 15px;
    margin-top: 15px;
    background-color: #DADAD2;
    color: #0B0B09;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    display: inline;
    position: absolute;
    left: 40%;
    right: 40%;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    text-transform: uppercase;
}

.photos:hover {
    background-color: #494949;
    color: #DADAD2;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

/* footer */

footer {
    margin-top: 150px;
    margin-bottom: 20px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 1% 2%;
    padding: 0 1%;
    color: #DADAD2;
}

.educational-purpose {
    font-size: small;
    margin-top: 40px;
    text-align: center;
}

.copyright {
    text-align: center;
    font-size: small;
}

/* Gallery */

#photos {
    clear: both;
    line-height: 3;
    column-count: 4;
}

#photos>img {
    width: 100%;
}

/* Form */

.form-section {
    clear: left;
    background: url("..//images/eos-rp_.webp");
    background-size: cover;
    background-position: c;
    height: 1200px;
}

.contact-form {
    margin: 250px 10% 0 0;
    color: #DADAD2;
    background-color: rgba(36, 35, 35, 0.8);
    max-width: 500px;
    position: absolute;
    left: 10%;
    padding: 35px;
}

.contact-form>h2 {
    color: #DADAD2;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #DADAD2;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #DADAD2;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #DADAD2;
}

#message {
    background: transparent;
    color: #DADAD2;
    margin: 5px 0 20px 0;
    border: 1px solid #DADAD2;
    border-radius: 2px;
}


.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: DADAD2;
    color: #494949;
    display: block;
}

.join-button:hover {
    background-color: #0B0B09;
    color: #DADAD2;
}

/* media queries */

/* for larger to medium screens size from 1200px wide and down */

/* for medium screens sizes from 950px wide and down */

@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
}

/* for medium screens sizes from 800px wide and down */

@media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
    }

    #photos {
        column-count: 2;
    }

    .contact-form {
        left: 15%;
       
    }
}

/* for small screens sizes from 700px wide and down */

@media screen and (max-width: 700px) {
.portfolio {
    left: 30%;
    right: 30%;
    
}
}

/* for small screens sizes from 415px wide and down */

@media screen and (max-width: 415px) {
    #menu {
        letter-spacing: normal;       
}
}